/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    /* background-image: url("../img/sfondo.png");
    background-position: center center; */
  }
  
  * {
    box-sizing: border-box;
}


.navbar-container, .header, main, footer {
    padding: 0 120px;
}


/* HEADER */

header {
    background-color: #ffc017;
    display: flex;
    flex-direction: column;

}

.buttons-header {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}

/* nav */

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid black;
    height: 60px;
}


.navbar-container nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none
}

nav ul li {
    margin: 5px; 
}



/* .header */

/* h1 container */

.header {
    display: flex;
    padding-right: 0;
    justify-content: flex-end;
    align-items: center;
}

.h1-container {
    text-align: left;
    flex-grow: 1;
}

h1 {
    font-family: "Spectral", serif;
    font-size: 3em;   /* adjust h1 size later */
}


.header button {
    padding: 10px 50px;
}

.header p {
    font-size: 1.3em;
    margin: 20px 0;
}


/* .disagio container */

/* .disagio-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */