/* IMPOSTAZIONI GENERALI */

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
  }
  
  * {
    box-sizing: border-box;
}


.navbar-container, .header, .trending-main-container, .main-container, footer {
    padding: 0 120px;
}




/* HEADER */

header {
    background-color: #ffc017;
    display: flex;
    flex-direction: column;
/*     position: relative; */

}

.buttons-header {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
}

/* nav */

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid black;
    height: 60px;

    background-color: #ffc017;
    position: sticky;
    top: 0;
    z-index: 10;


    transition: background-color 0.3s ease;
}


.navbar-container nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none
}

nav ul li {
    margin: 5px; 
}



/* .header */

/* h1 container */

.header {
    display: flex;
    padding-right: 0;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid black;
}

.h1-container {
    text-align: left;
    flex-grow: 1;
}

h1 {
    font-family: "Spectral", serif;
    font-size: 5em;   /* adjust h1 size later */
}


.header button {
    padding: 10px 50px;
}

.header p {
    font-size: 1.3em;
    margin: 20px 0;
    color: black;
}


/* .disagio container */

/* .disagio-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
} */


/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

/* section trending */

.trending-main-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.trending-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h4 {
    font-weight: bold;
}

.trending-title h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trending-title img {
    margin-right: 5px;  
}

.trending-article-card {
    display: flex;
    width: 500px;

}

.trending-number {
    font-size: 1.8em;
    font-weight: bold;
    color: rgba(60, 196, 196, 0.582);
    padding: 5px;
    display: flex;
    align-items: flex-start;
}

.trending-number p {
    /* align-self: flex-start; */ /* hmmmmmmmmmmmmm */
} 

.trending-text {
    padding: 5px;
    
}

h5 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    font-weight: 500;
    font-size: 0.9em;
    margin: 10px 0;
}

h5 img {
    padding-right: 5px;
    border-radius: 50px;
    width: 30px;
}

h6 {
    font-weight: bold;
    font-size: 1.5em;
}


.reading-time {
    color: grey;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    padding: 3px 0;
}

.reading-time img {
    padding: 0 5px
}

/* section articles + aside */

.main-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: space-around;
}


/* articles */

.articles-container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.article-card {
/*     min-width: 500px;
    max-width: 900px; */
    width: 900px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}



.article-content {
    flex: 80%;
    padding-right: 30px;
    position: relative;
}

div p {
    font-size: 1.2em;
    color: grey;
}

.genre-buttons {
    background-color: rgb(250, 242, 242);
    color: grey;
    border: none;
    border-radius: 50px;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 0.8em;
}

.article-pics {
    flex: 20%;
}

.article-pics img {
    width: 250px;
}

.bookmark {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.bookmark img {
    width: 35px;
}


/* aside */

.aside {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    /* position: sticky;
    top: 10px;
    z-index: 10; */
}

.aside-part-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 20px 0;
}

.aside-buttons-genre, .aside-buttons-bottom {
    background-color: white;
    color: grey;
    font-size: 1.2em;
    margin: 5px;
    padding: 7px 20px;
}

.aside-buttons-genre {   
    border: 1px solid rgba(0, 0, 0, 0.205);
}

.aside-buttons-bottom {
    border: none;
}

.aside-part-2 {
    padding: 20px 0;
    
}


/* ----------------------------------------------------- */

/* TABLET 700? */

@media screen /* and (min-width: 800px) */ and (max-width: 1200px)  {
    
    .navbar-container, .header, .trending-main-container, .main-container, footer {
        padding: 0 50px;
    }

    .article-card {
        width: 700px
    }
    
    .trending-article-card {
        display: flex;
        width: 300px;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .aside {
        padding: 50px 0;
    }

    h1 {
        font-size: 3em;
        margin-top: 20px;
    }

    .header p {
        font-size: 1.1em;
        margin: 10px 0;
    }
}

@media screen and (max-width: 800px) {
    li:nth-child(1),
    li:nth-child(2) {
        display: none;
    }
}

/*  */

@media screen and (max-width: 700px) {
    .article-card {
            width: 550px;
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
    } 
    
    svg {
        display: none;
    }

    h1 {
        margin-top: 20px;
    }

    .header button {
        margin-bottom: 20px;
    }
}

/* MOBILE 576? */

@media screen and (max-width: 577px) {

    .navbar-container, .header, .trending-main-container, .main-container, footer {
        padding: 0 20px;
    }

    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(4) {
        display: none;
    }

    .main-container {
        display: flex;
        flex-direction: column-reverse;
    }

}

